.body {
    background: url("../../../resources/images/background.jpg") no-repeat center fixed;
    margin: 0;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color : #F5FBEF;
    width: 100%;
    min-height: 800px;
}

footer {
  padding: 10px;
  text-align: center;
  color : #ffffff;
  border-bottom: solid;
  border-bottom-color: #000000;
  background-color: #343A40;
}
