<div class="body">
  <header>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">{{title}}</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <a href="#" class="nav-item active nav-link">Home</a>
          <a href="#" class="nav-item active nav-link">Login</a>
        </ul>
      </div>
    </nav>
  </header>
  <footer>
    DoggoCare - Site créé dans le cadre du cours de Développement Web Avancé - BLOC 3 - Informatique et Système - HEH Mons
  </footer>
</div>


