<div class="body">
  <h1>Bienvenue sur DoggoCare</h1>
  <h3>A propos</h3>
  <p>
    Ce projet a été créé dans le cadre du cours de développement Web avancé - Bloc 3 Informatique à la Haute Ecole en Hainaut (HEH).
    Il nous permet de nous familiariser avec les frameworks Angular et Spring.
    Ce projet a aussi été développé en respectant la méthode SCRUM.
  </p>
  <h3>Contributeurs</h3>
  <ul>
    <li>Guillaume Isembaert</li>
    <li>Thibault Stevanoni</li>
    <li>Thomas Rosi</li>
    <li>Arnaud Urbain</li>
  </ul>
</div>
